
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$white: #ffffff;
$orange: #FAD05E;
$purple: #0E0439;
$lpurple: #503F9D;
$dgray: #E6E6F9;
$gray: #F4F4FA;
$lgray: #FCFCFC;
$lpurple-hover: #6E58CE;
$lpurple-light: #D0D0F2;
$beige: #FFF6ED;


// Typography
$font: 'Rubik', sans-serif;

$font-small: 16px;
$font-medium: 25px;



//Breakpoints
$bp-sm: 360px;
$bp-sm-2: 1024px;
$bp-md: 1025px;
$bp-md-2: 1440px;
$bp-lg: 1441px;
$bp-lg-2: 1920px;
$bp-xl: 1921px;
$bp-xl-2: 2560px;
