<!-- Begin Footer -->
<footer class="footer ft" role="contentinfo">
	<div class="ft__container">

		{% include "@molecules/navigation/footer-nav.twig" %}


		<div class="ft__right-side mobile-ta-center align-right">
				{% include "@atoms/images/footer-logo.twig" %}
 
				<div class="socials  ft__socials">
					<a href="#" class="icon icon-twitter">

<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M22.4584 0.0126953H7.51784C3.37827 0.0126953 0 3.28199 0 7.28803V21.7696C0 25.7526 3.37827 29.0219 7.51784 29.0219H22.4822C26.6217 29.0219 30 25.7526 30 21.7466V7.28803C29.9762 3.28199 26.5979 0.0126953 22.4584 0.0126953ZM22.4346 10.8796C22.4346 11.0408 22.4346 11.202 22.4346 11.3631C22.4346 16.198 18.5805 21.7696 11.5147 21.7696C9.34972 21.7696 7.32752 21.171 5.63838 20.135C5.94766 20.158 6.23315 20.181 6.54243 20.181C8.35052 20.181 9.99207 19.6054 11.3006 18.6154C9.61142 18.5924 8.20777 17.5334 7.70817 16.0829C7.94607 16.1289 8.18398 16.152 8.42189 16.152C8.77875 16.152 9.13561 16.1059 9.44489 16.0138C7.73196 15.6685 6.42347 14.195 6.42347 12.4222V12.3762C6.89929 12.6524 7.51784 12.8136 8.1364 12.8366C7.1134 12.192 6.42347 11.0638 6.42347 9.79756C6.42347 9.12988 6.6138 8.50826 6.94687 7.9557C8.85012 10.1659 11.6574 11.6164 14.8454 11.7776C14.774 11.5013 14.7502 11.225 14.7502 10.9487C14.7502 8.92268 16.4631 7.28803 18.5805 7.28803C19.6749 7.28803 20.6741 7.72547 21.3878 8.43919C22.268 8.27803 23.0769 7.97872 23.8144 7.54128C23.5289 8.39314 22.9104 9.10686 22.1253 9.56733C22.9104 9.47523 23.6479 9.29105 24.3378 8.99174C23.8144 9.72849 23.1721 10.3731 22.4346 10.8796Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="30" height="29.0323" fill="white"/>
</clipPath>
</defs>
</svg>
</a>
<a href="#" class="icon icon-pinterest">

<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M22.4762 0.967773H7.5C3.38095 0.967773 0 4.23966 0 8.24888V22.742C0 26.7281 3.38095 30 7.5 30H22.4762C26.619 30 30 26.7281 30 22.7189V8.24888C30 4.23966 26.619 0.967773 22.4762 0.967773ZM16.5 19.5162C15.3095 19.5162 14.1667 18.9171 13.7857 18.2258C13.7857 18.2258 13.1429 20.6222 13 21.083C12.5238 22.7189 11.0952 24.3549 11 24.4931C10.9286 24.5853 10.7619 24.5622 10.7381 24.424C10.7143 24.2166 10.3571 22.1429 10.7619 20.4609C10.9762 19.6083 12.1905 14.7927 12.1905 14.7927C12.1905 14.7927 11.8333 14.1245 11.8333 13.1567C11.8333 11.6129 12.7857 10.4609 13.9762 10.4609C14.9762 10.4609 15.4762 11.1751 15.4762 12.0277C15.4762 12.9724 14.8333 14.401 14.5 15.7143C14.2143 16.8203 15.0952 17.7189 16.2619 17.7189C18.3571 17.7189 19.7857 15.1844 19.7857 12.189C19.7857 9.90787 18.1429 8.2028 15.1667 8.2028C11.8095 8.2028 9.69048 10.553 9.69048 13.1798C9.69048 14.0784 9.97619 14.7235 10.4286 15.2304C10.6429 15.4609 10.6667 15.553 10.5952 15.8065C10.5476 15.9908 10.4286 16.4516 10.3571 16.636C10.2857 16.8894 10.0476 17.0046 9.80952 16.8894C8.2619 16.2904 7.54762 14.7005 7.54762 12.9033C7.54762 9.95395 10.2143 6.40556 15.4762 6.40556C19.7143 6.40556 22.5 9.28575 22.5 12.3733C22.4762 16.4747 20.0714 19.5162 16.5 19.5162Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="30" height="29.0323" fill="white" transform="translate(0 0.967773)"/>
</clipPath>
</defs>
</svg>

</a>
<a href="#" class="icon icon-instagram">
<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M17.6506 12.6513C17.0558 11.8455 16.0804 11.3159 14.986 11.3159C13.8916 11.3159 12.9162 11.8455 12.3214 12.6513C11.9408 13.1808 11.7029 13.8254 11.7029 14.5161C11.7029 16.2659 13.1779 17.6933 14.986 17.6933C16.7941 17.6933 18.2691 16.2659 18.2691 14.5161C18.2691 13.8254 18.0312 13.1808 17.6506 12.6513Z" fill="white"/>
<path d="M19.7231 12.6758C19.961 13.1362 20.1037 13.873 20.1037 14.5176C20.1037 17.2344 17.8198 19.4676 14.9887 19.4676C12.1577 19.4676 9.87375 17.2574 9.87375 14.5176C9.87375 13.85 10.0165 13.1362 10.2544 12.6758H7.37573V20.0662C7.37573 21.0332 8.25599 21.885 9.25519 21.885H20.7223C21.7215 21.885 22.6017 21.0332 22.6017 20.0662V12.6758H19.7231Z" fill="white"/>
<path d="M21.7453 7.56257H18.9856V10.6247H22.126V7.95397V7.53955L21.7453 7.56257Z" fill="white"/>
<path d="M22.4584 0.0126953H7.51784C3.37827 0.0126953 0 3.28199 0 7.28803V21.7696C0 25.7526 3.37827 29.0219 7.51784 29.0219H22.4822C26.6217 29.0219 30 25.7526 30 21.7466V7.28803C29.9762 3.28199 26.5979 0.0126953 22.4584 0.0126953ZM24.2665 12.6524V20.0659C24.2665 21.9999 22.7201 23.4964 20.7216 23.4964H9.25456C7.25615 23.4964 5.70975 21.9999 5.70975 20.0659V12.6524V8.96872C5.70975 7.03477 7.25615 5.53826 9.25456 5.53826H20.7216C22.7201 5.53826 24.2665 7.03477 24.2665 8.96872V12.6524Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="30" height="29.0323" fill="white"/>
</clipPath>
</defs>
</svg>

</a>
<a href="#" class="icon icon-facebook">
<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M22.4762 0H7.5C3.38095 0 0 3.27189 0 7.28111V21.7742C0 25.7604 3.38095 29.0323 7.5 29.0323H22.4762C26.619 29.0323 30 25.7604 30 21.7512V7.28111C30 3.27189 26.619 0 22.4762 0ZM19.0238 14.5161H16.1905V23.5023H12.619V14.5161H10.7143V10.8295H12.381V9.26267C12.381 7.78802 13.1429 5.46083 16.3571 5.46083H19.2857V8.52534H17.2143C16.881 8.52534 16.4286 8.73272 16.4286 9.447V10.8295H19.3571L19.0238 14.5161Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="30" height="29.0323" fill="white"/>
</clipPath>
</defs>
</svg>

</a>

				</div>

			<div class="copyright cl-white ft__copyright">
				All rights reserved
			</div>
		</div>

		
	</div>
</footer>
<!-- End Footer -->