<div class="mb-navi__open mb-navi-button">
	<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
	<g clip-path="url(#clip0)">
	<path d="M18.2422 1.38281L1.75781 1.38281C0.788281 1.38281 0 2.17148 0 3.14062C0 4.11016 0.788281 4.89844 1.75781 4.89844L18.2422 4.89844C19.2113 4.89844 20 4.11016 20 3.14062C20 2.17148 19.2113 1.38281 18.2422 1.38281Z" fill="#0E0439"/>
	<path d="M18.2422 8.24219H1.75781C0.788281 8.24219 0 9.03086 0 10C0 10.9695 0.788281 11.7578 1.75781 11.7578H18.2422C19.2113 11.7578 20 10.9695 20 10C20 9.03086 19.2113 8.24219 18.2422 8.24219Z" fill="#0E0439"/>
	<path d="M18.2422 15.1016L1.75781 15.1016C0.788281 15.1016 0 15.8902 0 16.8594C0 17.8289 0.788281 18.6172 1.75781 18.6172H18.2422C19.2113 18.6172 20 17.8289 20 16.8594C20 15.8902 19.2113 15.1016 18.2422 15.1016Z" fill="#0E0439"/>
	</g>
	<defs>
	<clipPath id="clip0">
	<rect width="20" height="20" fill="white"/>
	</clipPath>
	</defs>
	</svg>
</div>