<nav id="nav" class="nav mobile-hidden">
	<ul class="nav-list flex flex-justify">
	 
		<li><a href="{{ url }}">Blog</a></li>
		<li><a href="{{ url }}">Templates gallery</a></li>
	</ul>
</nav><!--end .nav-->
