

.socials {

	display: block;


	a { 

			display: inline-block;
			margin: 0 12px;

		
	}


	@include md {

			a {
					&:first-child {
				margin-left: 0; 
			}

			 &:last-child {
				margin-right: 0;
			}
			}

	}

}