<nav id="mb-navi" class="mb-navi__box bg-white">
	<ul class="mb-navi__list">
		<li class="mb-navi__list-item"><a href="{{ url }}">Home</a></li>
		<li class="mb-navi__list-item"><a href="{{ url }}">Templates gallery</a></li>
		<li class="mb-navi__list-item"><a href="{{ url }}">Blog</a></li>
	</ul> 
</nav><!--end .nav-->
