<div class="page" id="page">
    {% include "@organisms/global/header.twig" %}
    <div role="main">
        {% block section1 %}
            {% include "@organisms/sections/section1.twig" %}
        {% endblock %}

        {% block section2 %}
            {% include "@organisms/sections/section2.twig" %}
        {% endblock %}

        {% block section3 %}
            {% include "@organisms/sections/section3.twig" %}
        {% endblock %}

        {% block section4 %}
            {% include "@organisms/sections/section4.twig" %}
        {% endblock %}
 



 
    </div><!--End role=main-->
    {% include "@organisms/global/footer.twig" %}
</div> 